name: Biblinder APK Generator
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          # Cache satırını kaldırdık ki eski hatalı dosyaları tekrar yüklemesin

      - name: Setup Gradle 8.5
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: 8.5

      - name: Build APK
        run: |
          PROJECT_ROOT=$(find . -name "settings.gradle" -exec dirname {} \;)
          cd $PROJECT_ROOT
          
          # Önce her şeyi temizle, sonra derle
          gradle clean assembleDebug --stacktrace

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Biblinder-Debug-APK
          path: "**/app/build/outputs/apk/debug/app-debug.apk"
